.container {
    display: flex;
    flex-direction: row;
}
.flexleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    list-style: none;
    padding: 0;
}
.spacer {
    flex-grow: 1;
    
}

.helper {
    flex-grow: 1;
    padding: 5%;
    width: 400px;
}

.game {
    border-right: solid;
    margin-bottom: 10%;
}



.flexmid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500x;
    list-style: none;
    padding: 0;
}

.flexright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    list-style: none;
    padding: 0;
    align-self:center;
}
    .brlines {
        height: 5px;
        background-color: darkorange;
        border: solid;
    }

.games {
    border-right: solid;
    border-right-color: black;
    border-right-width: thick;
}

.gamespacer {
    flex-grow: 2;
}

h4 {
    text-align: center;
    justify-content:flex-start;
}

h2 {
    text-align: center;
    font-weight: bolder;
    color: navy;
}
.gamespacer{
    flex-grow:1;
}
.champ{
    align-items:baseline;
}