*[b-6m867ex18m] {
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-color:white;
}
.heading[b-6m867ex18m]{
    text-align:center;
    margin-bottom:0;
    margin-top:0;
}

.flex-container[b-6m867ex18m]{display:flex;
                flex-direction:row;
                justify-content:space-around;
}
.display-4[b-6m867ex18m]{
    font-size:60px;
    padding-block:auto;
}
.about[b-6m867ex18m]{ margin-top:20px;
  color:black;
  align-content:center;
  margin-right:20%;

}
.about h4[b-6m867ex18m]{
    text-align:center;
        color:black;
}
.about p[b-6m867ex18m]{
    color:black;
    text-indent:10px;
}
.image[b-6m867ex18m]{
    margin-top:20px%;
    float.leftt;
    padding:30px;
}
.rules[b-6m867ex18m]{
    display:block;
    justify-content:center;
    list-style:none;
    color:black;
}