
p[b-xffqk0xy8i]{
    font-size:14px;
    padding-top:20px;
    text-align:center;
}
#Title[b-xffqk0xy8i]
{
   text-align:center;
   color:black;
}
.table[b-xffqk0xy8i]
{   scroll-margin-right:50px;
    margin-top:50px;
    font-size:smaller;
    padding-top:75px;
    border-block:solid;
    border-left:solid;
    border-right:solid;
    border-block-color:black;
}
.c1[b-xffqk0xy8i]
{
    background-color:navy;
    color:white;
    border-color:black;
}
.c2[b-xffqk0xy8i]
{
    background-color: White;
    border-color: black;
}
.c3[b-xffqk0xy8i] 
{
    background-color: red;
    color:white;
    border-color: white;
}