@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="heading">
        <h1 class="DSBC"> The Deep South Brunch Club</h1>
        <p>Home of the Most OK Fantasy Football.</p>
    </div>
    <Section class="flex-container">
        <div class="image">
            <img src="/css/Resized_20220822_220616.jpeg" alt="Trophy"><img  />
        </div>
        <div class="about">
            <h4>About The League</h4>
            <p >
                Here at the Deep South Brunch Club we know all about what it means to be a fantasy football team owner.
                Sometimes it means making absolutely ridiculous fantasy decisions in hopes that they can help you make the playoffs.
                Other times its hitting the lottery and picking up Christian McCaffrey off the waiver wire because your league-mate dropped him on accident.
                Most of the time though, it's watching in horror as your first 3 draft picks get injured by the 3rd week of the season and making their horrrific injuries about us.
                That being said, Our leage has quite a few things going for it. For starters, our league has managed to keep  the same commisioner and also most of its players since year one.
                We always honor the rules with just the right amount of complaining. We always have the craziest team names (some of which I edited to show this as my project). Trash talk 
                is always at an all time high Week in and Week out. And Most importantly, The winner gets a sick trophy that they get to engrave their team name on and gets hold on to the trophy to display 
                for bragging rights for an entire year.
        </div>
         </Section>
        <section class="rules">
            <h4 style="text-align:center"> League Rules and Regulations</h4>
            <p>
                <ul>
                    <li>
                        Draft order determined by a college football pick'em contest
                    </li>
                    <li>
                       Scoring- Half-Point per Recption 
                    </li>
                    <li>
                        10 team League 
                    </li>
                    <li>
                        Standard per yard and per TD scoring 
                    </li>
                    <li>
                        6 team playoffs with the top teams of each division having a first round bye
                    </li>
                    <li>
                        First place gets bragging rights and gets to hold the trophy for a year
                    </li>
                    <li>
                        Last place gets reprimanded according to the punishemnt agreed upon at the start of the season
                     </li>
                     <li> Mandated and required Fun</li>
                </ul>
            
            
                <div>
                    <h4> Why I created This</h4>
                    <p>This Leage is one of the most fun things my friends and I do each year and I wanted to create something that could serve as a tool to brag  </p>
                </div>
            </p>
        </section>
   

</main>
