@{
    ViewData["Title"] = "Home Page";
}
<main> 
    <div id="welcome" class="text-center">
        <h1 class="display-4"> The Deep South Brunch Club</h1>
        <p>Home of the Best Fantasy Football.</p>
        <div>
        <h4 class="about">About The League</h4>
                <p class="about_text"> Here at the Deep South Brunch club we know all about what it means to be fantasy football team owner. 
               Sometimes it means making absolutely ridiculous fantasy decisions in hopes that they can help you make the playoffs.
                Other times its hitting the lottery and picking up Christian McCaffrey off the waiver wire because your league-mate dropped him on accident.
                Most of the time though, it's watching in horror as your first 3 draft picks get injured by the 3rd week of the season.
                Our league has managed to the same commisioner and also most of its players since year one. This has allowed us to try out several different rule sets, 
                but we eventually settled on a 10 team league with two divisions:North & South. We use a half point per reception scoring to have the fun and volitility of standard, 
                while still keeping a semblance of predictability. Our league has a 6 team playoff with the top two teams from each division having a guarenteed slot. The top team in 
                each division gets a Bye week in the first round of the playoffs. Just because someone doesn't make the playoffs doesn't mean their season is over though. We also have a toilet bowl to dtermine the worst
                team in the league. Last place on the season must endure whatever hardship agreed upon by the league members at the start of the season.
                
        </div>

    </div>
</main>
